<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dminshd.com</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bfcea03d0b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {{{body}}}

</body>
</html>