<ul class="navbar">
    <li><a href="/" class="active"><i class="far fa-home-lg-alt"></i>Home</a></li>
    <li><a href="/aboutsite"><i class="far fa-question-square"></i>About this website</a></li>
    <li style="float: right;"><a href="/aboutme" id="rtab"><i class="far fa-id-badge"></i>About me</a></li>
</ul>